<!DOCTYPE html>
<html lang="en">

<head>
    <title>Articles Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/Articles-style.css">
</head>

<body>
    <!-- header -->
    <%- include('header')-%>
    <a href="/ArticleMaker-page" class="btn btn-primary">here</a>
        <% chunk.forEach((articles)=> {%>
            <div class="row">
                <% articles.forEach((article)=> {%>
                    <div class="col-sm-6 col-md-3 mb-5" align="center">
                        <div class="articlrBox">
                            <div class="articleImage">
                                <img src="<%= article.articleImg %>" alt="article image">
                            </div>
                            <h3>
                                <%= article.articleName%>
                            </h3>
                            <h5>
                                <%= article.articleDescription%>
                            </h5>

                            <button onclick="window.location.href = '<%= article.id %>' " class="viewButton">View</button>

                        </div>
                    </div>
                    <%})%>
            </div>
            <%})%>



                <!-- footer -->
                <%- include('footer')-%>
</body>

</html>





<!-- <div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Article</p>
        <button onclick="window.location.href = '/Article-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Article</p>
        <button onclick="window.location.href = '/Article-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Article</p>
        <button onclick="window.location.href = '/Article-One' "
            class="participateButton">View</button>
    </div>
</div>
</div>

<div class="row">
<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Article</p>
        <button onclick="window.location.href = '/Article-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Article</p>
        <button onclick="window.location.href = '/Article-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Article</p>
        <button onclick="window.location.href = '/Article-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Article</p>
        <button onclick="window.location.href = '/Article-One' "
            class="participateButton">View</button>
    </div>
</div>
</div> -->