<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blogs Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/CSS/Blogs-style.css">
</head>

<body>
    <!-- header -->
    <%- include('header')-%>
        <% if (message && message !="" ) { %>
            <div class="d-flex justify-content-center">
                <div class="alert alert-success text-center w-50">
                    <%= message%>
                </div>
            </div>
            <% } %>
                <% chunk.forEach((blogs)=> {%>
                    <div class="row">
                        <% blogs.forEach((blog)=> {%>
                            <div class="col-sm-6 col-md-3 mb-5" align="center">
                                <div class="articlrBox">
                                    <div class="blogImage">
                                        <img src="<%= blog.blogImg %>" alt="blog image">
                                    </div>
                                    <h3 class="card-title">
                                        <%= blog.blogName%>
                                    </h3>
                                    <div class="card-subtitle text-muted mb-2">
                                        <%= blog.createdAt.toLocaleDateString() %>
                                    </div>
                                    <div class="card-text mb-2">
                                        <%= blog.blogDescription%>
                                    </div>
                                    <% if (user) {%>
                                        <button onclick="window.location.href = '<%= blog.slug %>' "
                                            class="viewButton">View</button>
                                        <% } else { %>
                                            <button onclick="window.location.href = '/LoginPage' "
                                                class="viewButton">View</button>
                                                <% } %>
                                </div>
                            </div>
                            <%})%>
                    </div>
                    <%})%>



                        <!-- footer -->
                        <%- include('footer')-%>
</body>

</html>





<!-- <div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Blog</p>
        <button onclick="window.location.href = '/Blog-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Blog</p>
        <button onclick="window.location.href = '/Blog-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Blog</p>
        <button onclick="window.location.href = '/Blog-One' "
            class="participateButton">View</button>
    </div>
</div>
</div>

<div class="row">
<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Blog</p>
        <button onclick="window.location.href = '/Blog-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Blog</p>
        <button onclick="window.location.href = '/Blog-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Blog</p>
        <button onclick="window.location.href = '/Blog-One' "
            class="participateButton">View</button>
    </div>
</div>

<div class="col" align="center">
    <div class="surveyBox">
        <div class="surveyImage">
            <img src="Assets/image/1.jpg" alt="survey image">
        </div>
        <p>About Blog</p>
        <button onclick="window.location.href = '/Blog-One' "
            class="participateButton">View</button>
    </div>
</div>
</div> -->